* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 126px 360px 800px 250px;
    grid-template-areas:
        "nav nav nav"
        "banner banner banner"
        "main main main"
        "footer footer footer";
    grid-gap: 0.2rem;
}

nav {
    background: #ffffff;
    color: #8e8e8e;
    position: fixed;
    width: 100%;
    height: 130px;
    z-index: 1;
    animation: nav-shrink 0s;
}

nav img {
    scale: 9.3%;
    margin: -475px -458px;
}

nav p {
    font-size: 14px;
    position: relative;
    text-transform: uppercase;
    display: inline;
    padding-right: 30px;
    left: 1286px;
    bottom: 60px;
}

nav p a {
    color: #8e8e8e;
    text-decoration: none;
}

.nav-space {
    grid-area: nav;
    width: 100%;
    height: 180px;
}

banner {
    background-image: url("../images/backgrounds/banner.png");
    background-position: 50% 50%;
    background-size: cover;
    grid-area: banner;
}

.title {
    position: relative;
    text-align: center;
    color: #ddbd52;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.3;
    top: 110px;
}

main {
    grid-area: main;
    color: #8e8e8e;
}

.content {
    position: relative;
    color: #8e8e8e;
    line-height: 1.5;
    left: 475px;
    padding-top: 65px;
}

.content p {
    padding-bottom: 30px;
}

.inline {
    display: inline;
}

.downloadtype {
    color: #e16262;
}

.link {
    color: #90cf67;
}

.shortbar {
    text-align: center;
    color: #ededed;
    width: 950px;
}

footer {
    grid-area: footer;
}

/* Navbar shrink animation */
nav:not([value="0"]) {
    height: 80px;
}

nav:not([value="0"]) img {
    scale: 4.7%;
    margin: -500px -483px;
}

nav:not([value="0"]) p {
    left: 1338px;
    bottom: 35px;
}

/* Invert Github Logo if darkreader dark mode is being used */
html[data-darkreader-scheme="dark"] footer h4 a img {
    filter: invert();
}

/* Tablet Page View */
/* @media screen and (max-width:768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 110px 360px 1150px 250px 250px 250px 150px;
        grid-template-areas:
            "nav"
            "banner"
            "main"
            "quicklink1"
            "quicklink2"
            "quicklink3"
            "footer";
    }
    .title {
        font-size: 1.5em;
        padding-top: 60px;
    }
    .subtitle {
        font-size: 1em;
    }
} */

/* Mobile Page View */
/* @media screen and (max-width:320px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 110px 360px 1150px 250px 250px 250px 150px;
        grid-template-areas:
            "nav"
            "banner"
            "main"
            "quicklink1"
            "quicklink2"
            "quicklink3"
            "footer";
    }
    .title {
        font-size: 1.5em;
        padding-top: 60px;
    }
    .subtitle {
        font-size: 1em;
    }
} */

