.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 126px 360px 480px 250px;
    grid-template-areas:
        "nav nav nav"
        "banner banner banner"
        "main main main"
        "footer footer footer";
    grid-gap: 0.2rem;
}
.title {
    top: 110px;
}

main {
    grid-area: main;
    color: #8e8e8e;
}

.content {
    position: relative;
    color: #8e8e8e;
    line-height: 1.5;
    left: 475px;
    padding-top: 65px;
}

.content div p {
    padding-bottom: 0px;
}

.content div {
    padding-bottom: 30px;
}

.content p {
    padding-bottom: 30px;
}

.inline {
    display: inline;
}

.downloadtype {
    color: #e16262;
}

.link {
    color: #90cf67;
}

.shortbar {
    text-align: center;
    color: #ededed;
    width: 950px;
}

footer {
    grid-area: footer;
}

/* Invert Github Logo if darkreader dark mode is being used */
html[data-darkreader-scheme="dark"] footer h4 a img {
    filter: invert();
}

/* Tablet Page View */
/* @media screen and (max-width:768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 110px 360px 1150px 250px 250px 250px 150px;
        grid-template-areas:
            "nav"
            "banner"
            "main"
            "quicklink1"
            "quicklink2"
            "quicklink3"
            "footer";
    }
    .title {
        font-size: 1.5em;
        padding-top: 60px;
    }
    .subtitle {
        font-size: 1em;
    }
} */

/* Mobile Page View */
/* @media screen and (max-width:320px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 110px 360px 1150px 250px 250px 250px 150px;
        grid-template-areas:
            "nav"
            "banner"
            "main"
            "quicklink1"
            "quicklink2"
            "quicklink3"
            "footer";
    }
    .title {
        font-size: 1.5em;
        padding-top: 60px;
    }
    .subtitle {
        font-size: 1em;
    }
} */

